<div class="container" ng-controller="perfilAcessoController" ng-init="carregarPerfil()" ng-init="getItensAcesso()" ng-cloak>
    <fieldset>
        <div class="row">
            <div class="form-group col-sm-12">
                <legend> Cadastro de Perfil </legend>
            </div>
        </div>
        <form action="" method="POST" role="form" ng-submit="salvar()">							
            <div class="row ">
                <div class="form-group col-sm-5">
                    <legend>Nome do perfil</legend>
                    <input class="form-control" name="nome" type="text" ng-model="perfilAcesso.nome" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 ">
                    <div class="form-group">
                        <label class="control-label"> <strong>Privilégios</strong> </label>
                        <select type="text"  ui-select2="select2Options" multiple name="itemAcesso" class="input-default" ng-model="perfilAcesso.itens" required >
                            <option ng-repeat="itemAcesso in itensAcesso" value="{{itemAcesso.id}}">{{itemAcesso.nome}}</option>
                        </select>
                    </div>
                </div>
                
            </div>
		 
           <div class="row" style="margin-top: 150px">
                <div class="col-sm-12 form-group">
                    <span class="pull-right">
                        <a class="btn btn-primary btn-padrao" ng-click="cancelar()"> <i
                                class="glyphicon glyphicon-circle-arrow-left"></i> Voltar
                        </a>
                        <button type="submit" class="btn btn-success btn-padrao" >
                            <span class="glyphicon glyphicon-ok" ></span> Salvar	
                        </button>
                    </span>		
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><hr></div>
            </div>
        </form>
    </fieldset>
</div>