<div class="container" ng-controller="CidadeController" ng-init="carregarCidade()" >
    <div class="row">
        <div class="form-group col-sm-12">
            <legend> Cadastro de Cidade </legend>
        </div>
    </div>
    <form method="POST" role="form" ng-submit="salvar()">							
        <div class="row">
            <div class="form-group col-sm-6">
                <label> Nome </label>
                <input class="form-control" name="nome" title="Nome da cidade deve ser literal" type="text" onkeyup="toUpper(this)" 
                       ng-model="cidade.nome" pattern="[\w\s]+" maxlength="50" required placeholder="Nome da cidade" />
            </div>
            <div class="form-group col-sm-2">
                <label> Data fundação </label>
                <input class="form-control" name="dataFundacao"  type="date" ng-model="cidade.fundacao" 
                       title="Ex.: 12/12/2000"/>
            </div>
            <div class="form-group col-sm-4">
                <label>  Estado </label>                
                <select type="text" ui-select2="select2Options" style="width: 100%"  ng-model="cidade.idUnidadeFederativa" >
                    <option ng-repeat="uf in unidadesFederativas" value="{{uf.id}}">{{uf.nome}}</option>
                </select>
            </div>
        </div>	
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">
                    <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                        <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                    </a>  
                    <button type="submit" class="btn btn-success btn-padrao" >
                        <span class="glyphicon glyphicon-ok" ></span> Salvar
                    </button>
                </span>		
            </div>
        </div>
        <div class="row"><div class="col-sm-12"><hr></div></div>			
    </form>



</div>
