<div class="container" ng-controller="livroController" ng-init="carregarLivro()">
    <div class="row">
        <div class="form-group col-sm-12">
            <legend> <span class="glyphicon glyphicon-book"></span> Cadastro de Livro</legend>
        </div>
    </div>
    <div class="alert alert-{{info.status}} alert-dismissable" ng-show="info">{{info.message}}</div>
    <form action="" method="POST" role="form" ng-submit="salvar()">	
        <div class="row">
            <div class="form-group col-sm-7">
                <label> Nome </label>
                <input class="form-control" title="Nome do livro deve ser literal"  name="nome" type="text" ng-model="livro.nome" onkeyup="toUpper(this)" pattern="[A-Z ]+" maxlength="40" required placeholder="nome do livro" />
            </div>

            <div class="form-group col-sm-5">
                <label> Autor </label>
                <input class="form-control" title="Nome do autor deve ser literal"  name="autor" type="text" ng-model="livro.autor" onkeyup="toUpper(this)" pattern="[A-Z ]+" required placeholder="nome do autor" />
            </div>
        </div>
        <div class="row ">
            <div class="form-group col-sm-5">
                <label> Editora </label>
                <input class="form-control" title="Nome da editora deve ser literal"  name="editora" type="text" ng-model="livro.editora" onkeyup="toUpper(this)" pattern="[A-Z ]+" maxlength="40" required placeholder="nome da editora" />
            </div>
            <div class="form-group col-sm-4">
                <label> Disciplina </label>
                <input class="form-control" title="Nome da disciplina deve ser literal"  name="disciplina" type="text" ng-model="livro.disciplina" onkeyup="toUpper(this)" pattern="[A-Z ]+" maxlength="40" required placeholder="nome da disciplina" />
            </div>
            <div class="form-group col-sm-3">
                <label>Ano Edição</label>
                <input class="form-control" title="Data de ser quatro digitos numéricos"  name="anoEdicao" type="text" ng-model="livro.anoEdicao"  pattern="[0-9]{4}" maxlength="4" required placeholder="Ano da Edição" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">
                    <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                        <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                    </a>  
                    <button type="submit" class="btn btn-success btn-padrao">
                        <span class="glyphicon glyphicon-ok" ></span> Salvar
                    </button>
                </span>		
            </div>
        </div>
        <div class="row"><div class="col-sm-12"><hr></div></div>			
    </form>
</div>