<div class="container" ng-controller="cidadeController" ng-init="carregaEstados();carregarCidade();">
        <div class="row">
            <div class="form-group col-sm-12">
                <legend> Cadastro de Cidade  </legend>
            </div>
        </div>
        <form action="" method="POST" role="form" ng-submit="salvar()">							
            <div class="row ">
                <div class="form-group col-sm-2">
                    <label>Fundação</label>
                    <input class="form-control" name="fundacao" type="date" ng-model="cidade.fundacao" title="Data de Fundação" required="required"/>
                </div>
                <div class="form-group col-sm-7">
                    <label> Nome </label>
                    <input class="form-control" name="nome" title="Nome da cidade deve ser maiusculo" pattern="[A-Z]+" maxlength="40" required="required" type="text" placeholder="MARINGA" ng-model="cidade.nome"/>
                </div>
                <div class="form-group col-sm-3">
                    <label> Estado </label>
                    <select class="form-control" ng-model="cidade.unidadeFederativa" ng-options="uf.nome for uf in unidadeFederativa">					
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right">	
                        <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                            <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                        </a> 
                        <button type="submit" class="btn btn-success btn-padrao">
                            <span class="glyphicon glyphicon-ok"  ></span> Salvar	
                        </button>
                    </span>		
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><hr></div>
            </div>			
        </form>
</div>
