<div class="container" ng-controller="pessoaFisicaController" ng-init="carregarPessoa();init();">
    <div class="row">
        <div class="form-group col-sm-12">
            <fieldset>
                <legend> <span class="glyphicon glyphicon-user"></span> Cadastro de Pessoa Física</legend>
        </div>
    </div>
    <div class="alert alert-{{info.status}} alert-dismissable" ng-show="info">{{info.message}}</div>
    <form action="" method="POST" role="form" ng-submit="salvar()">					
        <div class="row ">
            <div class="form-group col-sm-5">
                <label> Nome </label>
                <input class="form-control" name="nome" type="text" ng-model="pessoaFisica.nome" placeholder="Nome" />
            </div>
            <div class="form-group col-sm-5">
                <label> Sobrenome </label>
                <input class="form-control" name="sobrenome" type="text" ng-model="pessoaFisica.sobrenome" placeholder="Sobrenome" />
            </div>
            <div class="form-group col-sm-2">
                <span class="pull-right">
                <label>Sexo</label>
                <div>
                    <div class="btn-group" ><!--data-toggle="buttons" verificar uso-->
                        <label class="btn btn-ss btn-primary btn-radio-amacapa">
                            <input form-control ng-model="pessoaFisica.sexo" name="sexo" value="MASCULINO" type="radio" /> M
                        </label>
                        <label class="btn btn-ss btn-primary btn-radio-amacapa">
                            <input form-control ng-model="pessoaFisica.sexo" name="sexo" value="FEMININO" type="radio" /> F
                        </label>
                    </div>
                </div>
                </span>
            </div>
        </div>		
        <div class="row">			
            <div class="form-group col-sm-3">
                <label> RG </label>
                <input class="form-control" id="rg" name="rg" type="text" ng-model="pessoaFisica.rg"  maxlength="12" placeholder="Números do R.G." />
            </div>
            <div class="form-group col-sm-3">
                <label> CPF </label>
                <input class="form-control" id="cpf" type="text" ng-model="pessoaFisica.cpf"  maxlength="14" placeholder="Número do CPF" />
            </div>	
            <div class="form-group col-sm-2">
                <label>Nascimento </label>
                <input class="form-control maskNascimento" name="dataNascimento" type="date" ng-model="pessoaFisica.dataNascimento" placeholder="dd/mm/aaaa" />
            </div>
            <div class="form-group col-sm-4">
                <label>Email</label>
                <div class="input-group" >
                    <span class="input-group-addon" >
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input class="form-control" name="email" type="text" ng-model="pessoaFisica.email" placeholder="Endereço de email">
                </div>
            </div>
        </div>
        <label>  &nbsp; </label>
        <div class="row">
            <div class="form-group col-sm-7">
                <legend>
                    <span class="glyphicon glyphicon-home"></span> Endereço 
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEndereco">
                        <span class="glyphicon glyphicon-plus" ></span>	
                    </button>
                </legend>
                <table class="table table-hover table-striped">
                    <tr ng-repeat="endereco in pessoaFisica.enderecos">
                        <td class="text-center"> {{endereco.tipoEndereco + "  " + endereco.logradouro + " " + endereco.numero + " - " + endereco.cidade + " - " + endereco.estado}} </td>
                        <td>
                            <span class="pull-right" >
                            <button class='btn btn-warning btn-sm' ng-click="editarEndereco($index)" data-toggle="modal" data-target="#modalEndereco">
                                <span class='glyphicon glyphicon-edit'></span>
                            </button>
                            <button class='btn btn-danger btn-sm' ng-click="delEndereco($index)" >
                                <span class='glyphicon glyphicon-remove-circle'></span>
                            </button>
                            </span>    
                        </td>
                    </tr>             
                </table>
            </div>
            <div class="form-group col-sm-5">
                <legend>
                    <span class="glyphicon glyphicon-phone-alt"></span> Telefone 
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalTelefone">
                        <span class="glyphicon glyphicon-plus" ></span>	
                    </button>
                </legend>
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr ng-repeat="telefone in pessoaFisica.telefones">
                            <td class="text-center"> {{telefone.tipo + " - " + telefone.numero + " - " + telefone.ramal}} </td>
                            <td>
                                <span class="pull-right" >
                                <button class='btn btn-warning btn-sm' ng-click="editarTelefone($index)" data-toggle="modal" data-target="#modalTelefone">
                                    <span class='glyphicon glyphicon-edit'></span>
                                </button>
                                <button class='btn btn-danger btn-sm' ng-click="delTelefone($index)" >
                                    <span class='glyphicon glyphicon-remove-circle'></span>
                                </button>
                                </span>    
                            </td>
                        </tr>        
                    </tbody>      
                </table>
            </div>
        </div>	
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">
                    <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                        <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                    </a>  
                    <button type="submit" class="btn btn-success btn-padrao">
                        <span class="glyphicon glyphicon-ok" ></span> Salvar
                    </button>
                </span>		
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><hr></div>
        </div>		
    </form>    
    <!-- Modal contato-->
    <div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog" aria-labelledby="modalTelefoneLabel" aria-hidden="true">
        <div class="modal-dialog-pessoa">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalTelefoneLabel"><span class="glyphicon glyphicon-phone-alt"></span> Cadastro de telefone</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label> Telefone</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                </span>
                                <select class="selectpicker show-tick form-control" name="tipoTelefone" ng-model="telefone.tipo" data-live-search="true">
                                    <option value="CELULAR" >Celular</option>
                                    <option value="COMERCIAL" >Comercial</option>
                                    <option value="RESIDENCIAL" >Residencial</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Número</label>
                            <input class="form-control" id="telefone" type="text" ng-model="telefone.numero" maxlength="15" placeholder="(44) 9999-9999" required>  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Ramal</label>
                            <input class="form-control" name="numeroTelefone" type="number" ng-model="telefone.ramal" placeholder="N° de ramal">  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span class="pull-right">
                            <a class="btn btn-danger btn-padrao" data-dismiss="modal" ng-click="cancelarTelefone()" >
                                <i class="glyphicon glyphicon-remove" ></i> Cancelar
                            </a>  
                            <button type="submit" class="btn btn-success btn-padrao" data-dismiss="modal" ng-click="salvarTelefone()">
                                <span class="glyphicon glyphicon-ok" ></span> Salvar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal endereço-->
    <div class="modal fade" id="modalEndereco" tabindex="-1" role="dialog" aria-labelledby="modalEnderecoLabel" aria-hidden="true">
        <div class="modal-dialog-pessoa">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalEnderecoLabel"><span class="glyphicon glyphicon-home"></span> Cadastro de Endereço</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Principal</label>
                            <div>
                                <div class="btn-group"><!--data-toggle="buttons" verificar uso-->
                                    <label class="btn btn-primary btn-radio-amacapa">
                                        <input ng-model="endereco.principal" name="principal" value="S" type="radio" /> Sim
                                    </label>
                                    <label class="btn btn-primary btn-radio-amacapa">
                                        <input ng-model="endereco.principal" name="principal" value="N" type="radio" /> Não
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Cep</label>
                            <input  class="form-control" id="cep" type="text" ng-model="endereco.cep" maxlength="10"  placeholder="99.999-999" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label>Tipo</label>
                            <select class="selectpicker show-tick form-control" name="tipoEndereco" ng-model="endereco.tipoEndereco" data-live-search="true">
                                <option value="se" selected="selected">Selecione</option>
                                <option value="avenida" >Avenida</option>
                                <option value="rua" >Rua</option>
                                <option value="praca" >Praça</option>
                                <option value="estrada" >Estrada</option>
                                <option value="alameda">Alameda</option>
                                <option value="ladeira">Ladeira</option>
                                <option value="travessa">Travessa</option>
                                <option value="rodovia">Rodovia</option>
                                <option value="outros">Outros</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Logradouro</label>
                            <input  class="form-control" name="descEndereco" type="text" ng-model="endereco.logradouro" placeholder="Logradouro" />
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Número</label>
                            <input  class="form-control" name="numero" type="text" ng-model="endereco.numero" placeholder="N°" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Bairro</label>
                            <input  class="form-control" name="complemento" type="text" ng-model="endereco.bairro" placeholder="Bairro"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Complemento</label>
                            <input  class="form-control" name="complemento" type="text" ng-model="endereco.complemento" placeholder="Complemento" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label> Pais </label>
                            <select id="pais" ng-model="endereco.pais" class="selectpicker show-tick form-control" data-live-search="true" ng-model="paises" ng-options="p.nome for p in paises" data-filter="true">
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label> Estado </label>
                            <select id="estado" ng-model="endereco.estado" class="selectpicker show-tick form-control" data-live-search="true"
                                    ng-options="t.nome for t in estados" data-filter="true">
                            </select>
                            {{endereco.estado}}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Cidade</label>
                            <select id="estado" ng-model="endereco.cidade" class="selectpicker show-tick form-control" data-live-search="true"
                                    ng-options="t.nome for t in filtroCidades()" data-filter="true">
                            </select>
                            {{endereco.cidade}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer">
                            <span class="pull-right">
                                <a class="btn btn-danger btn-padrao" data-dismiss="modal" ng-click="cancelarEndereco()" >
                                    <i class="glyphicon glyphicon-remove" ></i> Cancelar
                                </a>  
                                <button type="submit" class="btn btn-success btn-padrao" data-dismiss="modal" ng-click="salvarEndereco()">
                                    <span class="glyphicon glyphicon-ok" ></span> Salvar
                                </button>
                            </span>	
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $("#telefone").mask("(99) 9999-9999?9");
    $("#ramal").mask("9999");
    $("#cpf").mask("999.999.999-99");
    $("#rg").mask("9.999.999-*");
    $("#cep").mask("99.999-999");  
    $("#cnpj").mask("99.999.999/9999-99");  
   });
</script>
