<div class="container" ng-controller="EstadoController" ng-init="carregarEstado()" >
    <div class="row">
        <div class="form-group col-sm-12">
            <legend> Cadastro de Estado </legend>
        </div>
    </div>
    <form method="POST" role="form" ng-submit="salvar()">							
        <div class="row">
            <div class="form-group col-sm-6">
                <label> Nome </label>
                <input class="form-control" name="nome" title="Nome do estado deve ser literal" type="text" onkeyup="toUpper(this)" 
                ng-model="unidadeFederativa.nome" pattern="[\w\s]+" maxlength="40" required placeholder="Nome do Estado" />
            </div>
            <div class="form-group col-sm-2">
                <label> Sigla </label>
                <input class="form-control" name="nome"  type="text" onkeyup="toUpper(this)" ng-model="unidadeFederativa.sigla" 
                title="Sigla deve ser literal" required maxlength="2" pattern="[A-Z]{2}" placeholder="sigla do estado"/>
            </div>
            <div class="form-group col-sm-4">
                <label>  Pais </label>                
                <select type="text" ui-select2="select2Options" style="width: 100%"  ng-model="unidadeFederativa.idPais" >
                	<option ng-repeat="pais in paises" value="{{pais.id}}">{{pais.nome}}</option>
                </select>
            </div>
        </div>	
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">
                    <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                        <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                    </a>  
                    <button type="submit" class="btn btn-success btn-padrao" >
                        <span class="glyphicon glyphicon-ok" ></span> Salvar
                    </button>
                </span>		
            </div>
        </div>
        <div class="row"><div class="col-sm-12"><hr></div></div>			
    </form>
    
    
   
</div>
