<div class="container" ng-controller="itemAcessoController" ng-init="carregarItemAcesso()">
    <fieldset>
        <div class="row">
            <div class="form-group col-sm-12">
                <legend> Cadastro Item de Acesso </legend>
            </div>
        </div>
        <form action="" method="POST" role="form" ng-submit="salvar()" >							
            <div class="row ">
                <div class="form-group col-sm-6">
                   <label>Nome componente</label>
                    <input class="form-control" name="nome" type="text" placeholder="Nome componente" ng-model="itemAcesso.nomeComponente" required maxlength="60" />
                </div>
            </div>	
            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right">	
                        <a ng-click="cancelar()"class="btn btn-danger btn-padrao">
                            <span class="glyphicon glyphicon-remove" ></span> Cancelar 
                        </a>
                        <button type="submit" class="btn btn-success btn-padrao" >
                            <span class="glyphicon glyphicon-ok" ></span> Salvar </a>	
                        </button>
                    </span>		
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><hr></div>
            </div>
        </form>
    </fieldset>
</div>
