<div class="container" ng-controller="eventoController" ng-init="carregarEvento()">
    <fieldset>
        <div class="alert alert-{{info.status}} alert-dismissable" ng-show="info">{{info.message}}</div>
        <div class="row">
            <div class="form-group col-sm-12"> 
                <legend> Cadastro de Evento  </legend>
            </div>
        </div>
        <form action="" novalidate method="POST" role="form" name="formEvento" ng-submit="salvar('salvo')">	
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group {{formEvento.titulo.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Titulo *</strong></label>
                        <input type="text" name="titulo" title="Titulo do Evento deve ser maisculo" class="form-control" ng-pattern="/[a-zA-Z\s]{3,200}/"
                               ng-model="evento.titulo" required placeholder="Titulo"/>
                        <span class="help-block" ng-show="formEvento.titulo.$error.pattern">Apenas letras e no mínimo 3.</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group {{formEvento.tipo.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Tipo *</strong></label>
                        <select name="tipo" class="form-control" ng-model="evento.tipoEvento" required>
                            <option value="1">CURSO</option>
                            <option value="2">PALESTRA</option>
                            <option value="3">REUNIÃO</option>
                        </select>
                        <span class="help-block" ng-show="formEvento.tipo.$error.required">Selecione o tipo do evento</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group {{formEvento.organizacao.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Realização *</strong></label>
                        <input type="text" name="organizacao" title="Realizacao do Evento deve ser maisculo" class="form-control" ng-pattern="/[a-zA-Z\s]{3,200}/"
                               ng-model="evento.organizacao" required placeholder="Organização responsavel"/>
                        <span class="help-block" ng-show="formEvento.organizacao.$error.pattern">Apenas letras e no mínimo 3.</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group {{formEvento.valor.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Valor R$ *</strong></label>
                        <input type="text" name="valor" title="Substituir (,) por (.)" class="form-control" ng-pattern="/^(\d{1,3}(\.\d{3})*|(\d+))(\.\d{2})?$/"
                               ng-model="evento.valor" required placeholder="00.00"/>
                        <span class="help-block" ng-show="formEvento.valor.$error.pattern">Ex: 15.00</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group {{formEvento.ministrante.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Ministrante *</strong></label>
                        <input type="text" name="ministrante" class="form-control" ng-pattern="/[a-zA-Z\s]{3,200}/"
                               ng-model="evento.ministrante" required placeholder="Ministrante do curso ou evento"/>
                        <span class="help-block" ng-show="formEvento.ministrante.$error.pattern">Apenas letras e no mínimo 3.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group {{formEvento.descricao.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Descrição do Evento *</strong></label>
                        <textarea name="descricao" class="form-control" rows="5" cols="5" ng-pattern="/[a-zA-Z\s]{3,200}/"
                                  required ng-model="evento.descricao" placeholder="Digite uma descrição para o evento..."></textarea>
                        <span class="help-block" ng-show="formEvento.descricao.$error.pattern">Apenas letras e no mínimo 3.</span>
                        <div class="required-icon">
                            <div class="text"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="form-group {{formEvento.local.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Local *</strong></label>
                        <input class="form-control" name="local" type="text" ng-pattern="/[a-zA-Z\s]{3,200}/"
                               ng-model="evento.local" required placeholder="Local do evento"/>
                        <span class="help-block" ng-show="formEvento.local.$error.pattern">Apenas letras e no mínimo 3.</span>
                    </div>
                </div>   
            </div>            
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group {{formEvento.data.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Data *</strong></label>
                        <input name="data" type="date" class="form-control" ng-pattern="/[0-9]/" ng-model="evento.data" required placeholder="dd/mm/aaaa" />
                        <span class="help-block" ng-show="formEvento.data.$error.pattern">Apenas números.</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group {{formEvento.inicio.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Início *</strong></label>
                        <input name="inicio" type="time" class="form-control" ng-pattern="/[0-9]/" ng-model="evento.inicio" required="" placeholder="00:00" />
                        <span class="help-block" ng-show="formEvento.inicio.$error.pattern">Apenas números.</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group {{formEvento.termino.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                        <label class="control-label"><strong>Término *</strong></label>
                        <input name="termino" type="time" class="form-control" ng-pattern="/[0-9]/" ng-model="evento.fim" required="" placeholder="00:00" />
                        <span class="help-block" ng-show="formEvento.termino.$error.pattern">Apenas números.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-9">
                    <span class="pull-right">	
                        <a class="btn btn-primary btn-padrao" ng-click="voltar()">
                            <span class="glyphicon glyphicon-circle-arrow-left" ></span>&nbsp;Voltar
                        </a>
                         &nbsp;&nbsp; 
                        <a class="btn btn-primary btn-danger" ng-show="evento.statusevento == true" ng-click="encerrar()">
                            <span class="glyphicon glyphicon-remove-circle" ></span>&nbsp;Fechar
                        </a>
                         &nbsp;&nbsp; 
                        <a class="btn btn-primary btn-padrao" ng-show="evento.statusevento == false" ng-click="reativar()">
                            <span class="glyphicon glyphicon-circle-arrow-right" ></span>&nbsp;Ativar
                        </a>
                        &nbsp;&nbsp; 
                        <a class="btn btn-primary btn-danger" ng-show="evento.id > 0" ng-click="deletar(evento)">
                            <span class="glyphicon glyphicon-remove-circle" ></span>&nbsp;Excluir
                        </a>
                        &nbsp;&nbsp; 
                        <button type="submit" class="btn btn-success btn-padrao" ng-disabled="formEvento.$invalid">
                            <span class="glyphicon glyphicon-ok"  ></span>&nbsp;Salvar
                        </button>
                    </span>		
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><hr></div>
            </div>			
        </form>
    </fieldset>
</div>
