<script>
	function limpa() {

			document.getElementById('cpf').value="";
			document.getElementById('rg').value="";
			document.getElementById('nome').value="";
			document.getElementById('email').value="";
			document.getElementById('telefone').value="";
			document.getElementById('data').value="";

	}
        
</script>

<div class="container" ng-controller="eventoController" ng-init="getTodos()">
	<label>&nbsp;</label>
	<fieldset>
			<form action="#" method="POST" name="participante">
				<div class="col-sm-7" style="height:400px; overflow:auto;">
					<legend>Cursos Disponíveis</legend>
					<div class="blogShort" ng-repeat="evento in eventos">
	                     <h1>{{evento.titulo}}</h1>
	                         <!--<em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>-->
	                     <article><p>
	                         {{evento.descricao.substring(0,180)}}
	                         </p></article>
							 <input type="checkbox" id="chk{{evento.id}}" name="chk{{evento.id}}" value="chk{{evento.id}}">
	                    <button type="submit" class="btn btn-blog pull-right marginBottom10" ng-click="carregarEventoDetalhes(evento.id,evento.titulo,evento.descricao,evento.local,evento.data)" data-toggle="modal" data-target="#modalDetalhes">
                        + Detalhes
                    </button><br>
					<hr/>
                 	</div>
			      
				</div>
				<div class="col-sm-1"></div>
				<div class="form-group col-sm-4">
					<legend>Dados Pessoais</legend>
					<br>
					<label>CPF</label>
					<input class="form-control" name="cpf" type="text" ng-model="pessoa.cpf" onBlur="ValidarCPF(participante.cpf);" onKeyPress="MascaraCPF(participante.cpf);" maxlength="14" placeholder="Número do CPF" />
					<label>RG</label>
					<input class="form-control" name="rg" type="text" ng-model="pessoa.rg" onKeyPress="MascaraRG(participante.rg);" maxlength="12" placeholder="R.G." />
					<label>Nome</label>
					<input class="form-control" name="nome" type="text" ng-model="pessoa.nome" placeholder="Nome" />
					<label>Email</label>
					<input class="form-control" name="email" type="text" ng-model="pessoa.email" placeholder="Endereço de email">
					<label>Telefone</label>
					<input class="form-control" name="tel" type="text" ng-model="telefone.numero" onKeyPress="MascaraTelefone(participante.tel);" maxlength="15"  onBlur="ValidaTelefone(participante.tel);"  placeholder="(44) 9999-9999" required>
					<input name="sexo" value="M" type="radio" ng-model="pessoa.sexo" /> <label>Masculino</label>
					<input name="sexo" value="F" type="radio" ng-model="pessoa.sexo" />  <label>Feminino</label>
				</div>
				<div align="middle">
					<button class="btn btn-default">Cursos futuros</button>
					<button class="btn btn-primary">Cursos finalizados</button>
				</div>
				<div align="right">
					<button type="button"  class="btn btn-danger" onClick="limpa()">Limpar</button>
					<button class="btn btn-success">Confirmar</button>
				</div>
				
				<!-- Modal detalhamento-->
					<div class="modal fade" id="modalDetalhes" tabindex="-1" role="dialog" aria-labelledby="modalDetalhesLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="modalEnderecoLabel">Detalhes do Curso</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="blogShort">
											 <h1>{{tituloCurso}}</h1>
												 <!--<em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>-->
											 <article><p>
												 {{DetalhesCurso}}
												 </p></article>
												 
												 <article><p>
												 <b>Data:<b> {{dataCurso}}
												 </p></article>
												 <article><p>
												 <b>Localização:<b> {{localCurso}}
												 </p></article>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-remove" ></span>Fechar</button>
								</div>
							</div>
						</div>
					</div>	<!--fim modal-->
			</form>
	</fieldset>
</div>