<div class="container" ng-controller="PessoaFisicaController" >
	<div class="row">
		<div class="form-group col-sm-12">
			<fieldset>
				<legend> <span class="glyphicon glyphicon-user"></span> Cadastro de Cliente </legend>
		</div>
	</div>	
	<form action="" method="POST" role="form" name="formPF">						
		<div class="row ">
			<div class="form-group col-sm-5">
				<label> Nome </label>
				<input class="form-control" name="nome" type="text" ng-model="pessoa.nome" placeholder="Nome" />
			</div>
			<div class="form-group col-sm-5">
				<label> Sobrenome </label>
				<input class="form-control" name="sobrenome" type="text" ng-model="pessoa.sobrenome" placeholder="Sobrenome" />
			</div>
			<div class="form-group col-sm-2">
				<label>Sexo</label>
				<div>
					<div class="btn-group"><!--data-toggle="buttons" verificar uso-->
						<label class="btn btn-primary radio-inline">
							<input name="sexo" value="M" type="radio" ng-model="pessoa.sexo" /> <label>M</label>
						</label>
						<label class="btn btn-primary radio-inline">
							<input name="sexo" value="F" type="radio" ng-model="pessoa.sexo" />  <label>F</label>
						</label>
					</div>
				</div>
			</div>
		</div>		
		<div class="row">			
			<div class="form-group col-sm-2">
				<label> RG </label>
				<input class="form-control" name="rg" type="text" ng-model="pessoa.rg" onKeyPress="MascaraRG(formPF.rg);" maxlength="12" placeholder="R.G." />
			</div>
			<div class="form-group col-sm-2">
				<label> CPF </label>
				<input class="form-control" name="cpf" type="text" ng-model="pessoa.cpf" onBlur="ValidarCPF(formPF.cpf);" onKeyPress="MascaraCPF(formPF.cpf);" maxlength="14" placeholder="Número do CPF" />
			</div>	
			<div class="form-group col-sm-2">
				<label>Nascimento </label>
				<input class="form-control maskNascimento" name="dataNascimento" type="date" ng-model="pessoa.dataNascimento" placeholder="dd/mm/aaaa" />
			</div>
			<div class="form-group col-sm-5">
				<label>Email</label>
				<div class="input-group" >
					<span class="input-group-addon" >
						<span class="glyphicon glyphicon-envelope"></span>
					</span>
					<input class="form-control" name="email" type="text" ng-model="pessoa.email" placeholder="Endereço de email">
				</div>
			</div>
		</div>
		<label>  &nbsp; </label>
		<div class="row">
			<div class="form-group col-sm-7">
				<legend>
				 	<span class="glyphicon glyphicon-home"></span> Endereço 
				 		<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEndereco">
							<span class="glyphicon glyphicon-plus" ></span>	
						</button>
						<label> &nbsp; </label>
				</legend>
			</div>
			<div class="form-group col-sm-5">
				<legend>
				 	<span class="glyphicon glyphicon-phone-alt"></span> Telefone 
				 		<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalTelefone">
							<span class="glyphicon glyphicon-plus" ></span>	
						</button>
						<label> &nbsp; </label>
				</legend>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-7">
		        <table class="table table-hover table-striped">
					<thead>
					    <tr>          
					    	<th class="col-sm-5 text-center"> Endereço </th> 
					        <th class="col-sm-1"> &nbsp; </th>        
					    </tr>
				    </thead>
				    <tbody>
					    <tr ng-repeat="endereco in enderecos">
					    	<td class="text-center"> {{endereco.tipoEndereco + "  " + endereco.logradouro + " " + endereco.numero + " - " + endereco.cidade + " - " + endereco.estado}} </td>
					        <td>
					        	<button type="button" class="btn btn-link btn-xs" title="Editar" ng:click="editarEndereco($index)" data-toggle="modal" data-target="#modalEndereco" ><i class="glyphicon glyphicon-pencil"></i> </button>
					        	<button type="button" class="btn btn-link btn-xs" title="Excluir" ng:click="delEndereco($index)"><i class="glyphicon glyphicon-trash"></i> </button>
					        </td>
					    </tr>        
				    </tbody>      
				</table>
			</div>
			<div class="form-group col-sm-5">
		        <table class="table table-hover table-striped">
					<thead>
					    <tr>          
					    	<th class="col-sm-5 text-center"> Telefones </th> 
					    	<th class="col-sm-1"> &nbsp; </th>           
					    </tr>
				    </thead>
				    <tbody>
					    <tr ng-repeat="telefone in telefones">
					    	<td class="text-center"> {{telefone.tipo + " - " + telefone.numero + " - " +telefone.ramal}} </td>
					        <td>
					        	<button type="button" class="btn btn-link btn-xs" title="Editar" ng-click="editarTelefone($index)" data-toggle="modal" data-target="#modalTelefone" ><i class="glyphicon glyphicon-pencil"></i> </button>
					        	<button type="button" class="btn btn-link btn-xs" title="Excluir" ng:click="delTelefone($index)"><i class="glyphicon glyphicon-trash"></i> </button>
					        </td>
					    </tr>        
				    </tbody>      
				</table>
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-12">
				<span class="pull-right">	
				<a class="btn btn-danger">
					<span class="glyphicon glyphicon-remove" ></span> Cancelar 
				</a>
				<button type="submit" class="btn btn-success" ng-click="addPessoa()" >
					<span class="glyphicon glyphicon-ok" ></span> Salvar </a>	
				</button>
				</span>		
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12"><hr></div>
		</div>
		<!-- Modal contato-->
		<div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog" aria-labelledby="modalTelefoneLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="modalTelefoneLabel">Cadastro de telefone</h4>
		      		</div>
		      		<div class="modal-body">
					   	<div class="row">
      						<div class="form-group col-sm-4 col-sm-offset-2">
	      						<label> Telefone</label>
		      					<div class="input-group">
		      						<span class="input-group-addon">
		      							<span class="glyphicon glyphicon-phone-alt"></span>
		      						</span>
		      						<select class="selectpicker show-tick form-control" name="tipoTelefone" ng-model="telefone.tipo" data-live-search="true">
		      							<option value="celular" >Celular</option>
		      							<option value="comercial" >Comercial</option>
		      							<option value="residencial" >Residencial</option>
		      						</select>
		      					</div>
      						</div>
		      				<div class="form-group col-sm-5">
		      					<label>Número</label>
		      					<div class="input-group">
		      				  		<input class="form-control" name="tel" type="text" ng-model="telefone.numero" onKeyPress="MascaraTelefone(formPF.tel);" maxlength="15"  onBlur="ValidaTelefone(formPF.tel);"  placeholder="(44) 9999-9999">  
		      					</div>
		      				</div>
      					</div>
		      	      	<div class="row">
		      	      		<div class="form-group col-sm-4 col-sm-offset-2">
		      	      			<label>Ramal</label>
		      					<div class="input-group">
		      						<input class="form-control" name="numeroTelefone" type="number" ng-model="telefone.ramal" placeholder="N° de ramal">  
		      					</div>
		      				</div>
		      			</div>
		      			<div class="row"><div class="col-sm-12 "> <hr></div></div> <!-- separador -->
				    </div>
			        <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-remove" ></span>Cancelar</button>
				        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="salvarTelefone()" ><span class="glyphicon glyphicon-ok" ></span>Salvar</button>
			        </div>
		    	</div>
		    </div>
		</div>	
		<!-- Modal endereço-->
		<div class="modal fade" id="modalEndereco" tabindex="-1" role="dialog" aria-labelledby="modalEnderecoLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="modalEnderecoLabel">Cadastro de Endereço</h4>
		      		</div>
		      		<div class="modal-body">
		        		<legend> <span class="glyphicon glyphicon-home"></span> Endereço </legend>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Principal</label>
								<div>
									<div class="btn-group"><!--data-toggle="buttons" verificar uso-->
										<label class="btn btn-primary ">
											<input ng-model="endereco.principal" name="principal" value="S" type="radio" ng-click="alert('qualquercoisaai');"/> <label>Sim</label>
										</label>
										<label class="btn btn-primary">
											<input ng-model="endereco.principal" name="principal" value="N" type="radio" />  <label>Não</label>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label>Cep</label>
								<input  class="form-control maskCep" name="cep" type="text" ng-model="endereco.cep" onKeyPress="MascaraCep(formPF.cep);"
									maxlength="10" onBlur="ValidaCep(formPF.cep)" placeholder="99.999-999" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Tipo</label>
								<select class="selectpicker show-tick form-control" name="tipoEndereco" ng-model="endereco.tipoEndereco" data-live-search="true">
									<option value="se" selected="selected">Selecione</option>
									<option value="avenida" >Avenida</option>
									<option value="rua" >Rua</option>
									<option value="praca" >Praça</option>
									<option value="estrada" >Estrada</option>
									<option value="alameda">Alameda</option>
									<option value="ladeira">Ladeira</option>
									<option value="travessa">Travessa</option>
									<option value="rodovia">Rodovia</option>
									<option value="outros">Outros</option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label>Logradouro</label>
								<input  class="form-control" name="descEndereco" type="text" ng-model="endereco.logradouro" placeholder="Logradouro" />
							</div>
							<div class="form-group col-sm-3">
								<label>Número</label>
								<input  class="form-control" name="numero" type="text" ng-model="endereco.numero" placeholder="N°" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Bairro</label>
								<input  class="form-control" name="complemento" type="text" ng-model="endereco.bairro" placeholder="Bairro"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Complemento</label>
								<input  class="form-control" name="complemento" type="text" ng-model="endereco.complemento" placeholder="Complemento" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Cidade</label>
								<input  class="form-control" name="cidade" type="text" ng-model="endereco.cidade" placeholder="Cidade" />
							</div>
							<div class="form-group col-sm-3">
								<label> Estado </label>
			                    <select id="estado" ng-model="endereco.estado" class="selectpicker show-tick form-control" data-live-search="true">
			                        <option value="se" selected>Selecione</option>
									<option value="pr" >Paraná</option>
									<option value="sp" >São Paulo</option>
									<option value="rj" >Rio de Janeiro</option>
			                    </select>
							</div>
							<div class="form-group col-sm-3">
								<label> Pais </label>
			                    <select id="pais" ng-model="endereco.pais" class="selectpicker show-tick form-control" data-live-search="true">
			                        <option value="se" selected>Selecione</option>
									<option value="brasil" >Brasil</option>
									<option value="argentina" >Argentina</option>
									<option value="paraguai" >Paraguai</option>
			                    </select>
							</div>
						</div>
		      		</div>
			        <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-remove" ></span>Cancelar</button>
				        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="salvarEndereco()" ><span class="glyphicon glyphicon-ok" ></span>Salvar</button>
			        </div>
		    	</div>
		    </div>
		</div>			
	</form>
	</fieldset>
</div>