<div class="container" ng-controller="perfilAcessoController" ng-init="getTodos()">
    <fieldset>
        <legend> <span class="glyphicon glyphicon-list-alt"></span> Perfil de Acesso</legend>
        <form action="" method="POST" role="form">
            <div class="row">
                <div class="form-group col-sm-5">
                    <label>Busca</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input  class="form-control" type="text" ng-model="busca"/>
                    </div>
                </div>
                <div class="form-group col-sm-7">
                    <label> &nbsp; </label>
                    <div>
                        <span class="pull-right">
                            <a ng-click="novo()" class="btn btn-primary btn-padrao" role="button">
                                <span class="glyphicon glyphicon-plus-sign" ></span> Novo
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <table width="100%" border="0" class="table table-striped table-hover" >
                <thead>
                <th width="30%">Nome</th>
                <th width="10%">Açoes</th>
                </thead>
                <tbody>
                    <tr ng-repeat="perfilAcesso in perfilsAcesso| filter : busca">
                        <td>{{perfilAcesso.nome}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" ng-click="editar(perfilAcesso)">
                                <span class='glyphicon glyphicon-edit'></span>
                            </button>
                        
                            <button type="button" class="btn btn-danger btn-sm" ng-click="deletar(perfilAcesso)">
                                <span class='glyphicon glyphicon-remove-circle'></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <pagination boundary-links="true" num-pages="produtos.pageCount" total-items="produtos.pageCount*produtos.maxRows" items-per-page="produtos.maxRows"
                            ng-model="pageNumber" ng-change="getTodos(pageNumber)" class="pagination-sm" max-size="produtos.maxPagesToShow"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </pagination>
            </div>
        </form>
    </fieldset>
</div>