<div class="container" ng-controller="cidadeController" ng-init="getTodos()">
	<label> &nbsp; </label>
	<fieldset>
		<legend> <span class="glyphicon glyphicon-list-alt"></span> Lista Cidade</legend>
			<form action="" method="POST" role="form">
				<div class="row">
					<div class="form-group col-sm-5">
						<label>Busca</label>
						<div class="input-group">
							<span class="input-group-addon">
									<span class="glyphicon glyphicon-search"></span>
							</span>
							<input  class="form-control" name="busca" type="text" ng-model="busca"/>
						</div>
					</div>
					<div class="form-group col-sm-7">
						<label> &nbsp; </label>
						<div>
							<span class="pull-right">
								<button type='submit' class='btn btn-primary btn-padrao' value='novo' ng-click="novo()" >
				  					<span class='glyphicon glyphicon-plus-sign'></span> Novo
								</button>
							</span>
						</div>
					</div>
				</div>
				<table width="100%" border="0" class="table table-striped table-hover" >
					<tr>
						<th width="30%">Nome</th>
						<th width="25%">Fundação</th>
						<th width="20%">Estado</th>
						<th width="5%">Alterar</th>
						<th width="5%">Excluir</th>
					</tr>
					<tr ng-repeat="cidade in cidades | filter : busca">
						<td>{{cidade.nome}}</td>
						<td>{{cidade.fundacao | date: 'dd-MM-yyyy'}}</td>
						<td>{{cidade.estado}}</td>
						<td>
							<button type='submit' class='btn btn-warning btn-sm'  name='metodo' value='alterar' ng-click="editar(cidade)">
			  					<span class='glyphicon glyphicon-edit'></span>
							</button>
						</td>
						<td>
							<button type='submit' class='btn btn-danger btn-sm'  name='metodo' value='deletar' ng-click="deletar(cidade)">
			  					<span class='glyphicon glyphicon-remove-circle'></span>
							</button>
						</td>
					</tr>
				</table>
				<label> Total de Cidades: {{(cidades | filter : busca).length}} / {{cidades.length}}</label>
			</form>
	</fieldset>
	<hr>
</div>
