<div class="container" ng-controller="ListaBairroController">
	<fieldset>
		<legend> <span class="glyphicon glyphicon-list-alt"></span> Bairro</legend>
			<form action="" method="POST" role="form">
				<div class="row">
					<div class="form-group col-sm-5">
						<label>Busca</label>
						<div class="input-group">
							<span class="input-group-addon">
									<span class="glyphicon glyphicon-search"></span>
							</span>
							<input  class="form-control" name="busca" type="text" ng-model="busca"/>
						</div>
					</div>
					<div class="form-group col-sm-7">
						<label> &nbsp; </label>
						<div>
							<span class="pull-right">
								<button type='submit' class='btn btn-primary btn-padrao' value='novo' ng-click="novoBairro()" >
				  					<span class='glyphicon glyphicon-plus-sign'></span> Novo
								</button>
							</span>
						</div>
					</div>
				</div>
				<table width="100%" border="0" class="table table-striped table-hover" >
					<tr>
						<th width="10%">Código</th>
						<th width="20%">Nome</th>
						<th width="10%">Sigla</th>
						<th width="15%">Cidade</th>
						<th width="20%">Faixa de CEP</th>
						<th width="5%">Alterar</th>
						<th width="5%">Excluir</th>
					</tr>
					<tr ng-repeat="bairro in bairros | filter : busca" >
						<td>{{bairro.codBairro}}</td>
						<td>{{bairro.nome}}</td>
						<td>{{bairro.sigla}}</td>
						<td>{{bairro.cidade}}</td>
						<td>{{bairro.faixaCep}}</td>
						<td>
							<button type='submit' class='btn btn-warning btn-sm'  name='metodo' value='alterar' ng-click="editarBairro($index)" >
			  					<span class='glyphicon glyphicon-edit'></span>
							</button>
						</td>
						<td>
							<button type='submit' class='btn btn-danger btn-sm'  name='metodo' value='escluir' ng:click="delBairro($index)">
			  					<span class='glyphicon glyphicon-remove-circle'></span>
							</button>
						</td>
					</tr>
				</table>
				<label> Total de Estados: {{(bairros | filter : busca).length}} / {{bairros.length}}</label>
				<hr>
			</form>
	</fieldset>
</div>
