<div class="container" ng-controller="eventoController" ng-init="carregaPeriodo()">
    <fieldset>
        <legend> <span class="glyphicon glyphicon-list-alt"></span> Dias de realização do Evento 
        </legend>
        <table class="table table-hover table-striped">
            <tr>
                <th class="col-sm-3 text-center">Título Período</th>
                <th class="col-sm-3 text-center">Dia</th>
                <th class="col-sm-3 text-center">Início</th>
                <th class="col-sm-3 text-center">Termino</th>
                <th class="col-sm-3 text-center">Lista de Presença</th>
            </tr>
            <tr ng-repeat="p in periodosModal">
                <td  class="text-center" ng-bind="p.tituloperiodo"></td>
                <td  class="text-center" ng-bind="p.data | date: 'dd-MM-yyyy' "></td>
                <td  class="text-center" ng-bind="p.inicio"></td>
                <td  class="text-center" ng-bind="p.fim"></td>
                <td class="text-center">
                    <button class='btn btn-info btn-sm' data-dismiss="modal" ng-click="chamadaPeriodo(p.id)">
                        <span class='glyphicon glyphicon-check'></span>
                    </button>
                </td>
            </tr>
        </table>
        <div class="col-sm-12">
            <span class="pull-right">
              <a class="btn btn-primary btn-padrao" ng-click="voltar()">
                <span class="glyphicon glyphicon-circle-arrow-left" ></span> Voltar
              </a>  
            </span>
        </div>
    </fieldset>
    <hr>
</div>
