<div class="container" ng-controller="OrdemProducaoController" ng-init="carregarOrdemProducao()">
    <div class="row">
        <div class="form-group col-sm-12">
            <legend> <span class="glyphicon glyphicon-file"></span> Ordem de produção </legend>
        </div>
    </div>
    <form action="" method="POST" role="form" ng-submit="salvar()" >							
        <div class="row ">
            <div class="form-group col-sm-3">
                <label> Solicitação </label>
                <input class="form-control " type="text" disabled ng-model="ordemProducao.id" pattern="[A-Za-z ]+" maxlength="40" required  />  
            </div>
            <div class="form-group col-sm-3">
                <label> Material </label>
                <input class="form-control " type="text" disabled ng-model="ordemProducao.material" pattern="[A-Za-z ]+" maxlength="40" required  />  
            </div>
            <div class="form-group col-sm-3">
                <label> Tradução </label>
                <input class="form-control " type="text" disabled ng-model="ordemProducao.traducao" pattern="[A-Za-z ]+" maxlength="40" required  />  
            </div>
            <div class="form-group col-sm-3">
                <label> Status </label>
                <input class="form-control " type="text" disabled ng-model="ordemProducao.status" pattern="[A-Za-z ]+" maxlength="40" required  />  
            </div>
        </div>
        <div class="row"> <div class="form-group col-sm-12">&nbsp;</div></div>
        <div class="row">
            <div class="form-group col-sm-12">
                <a  class='btn btn-primary btn-padrao' ng-click="novaParteMaterial()" >
                    <span class='glyphicon glyphicon-plus-sign'></span> Nova Parte
                </a>
                <button type='submit' class='btn btn-success btn-padrao' ng-click="" >
                    <span class='glyphicon glyphicon-ok-circle'></span> Finalizar
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-striped table-hover">
                        <tr>
                            <th class="col-md-2">Parte</th>
                            <th class="col-md-3">Responsável</th>
                            <th class="col-md-3">Revisor</th>
                            <th class="col-md-2">Status</th>
                            <th class="col-md-2">Ação</th>
                        </tr>
                        <tr ng-repeat="parteMaterial in ordemProducao.parteMaterial">
                                <td>{{parteMaterial.parte}}</td>
                                <td>{{parteMaterial.responsavel}}</td>
                                <td>{{parteMaterial.revisao}}</td>
                                <td>{{parteMaterial.status}}</td>
                            <td>
                                <a class='btn btn-primary btn-file btn-sm'  name='metodo' value='download' ng-click="">
                                    <span class='glyphicon glyphicon-download'><input type="file"></span>
                                </a>
                                <a class='btn btn-warning btn-sm'  name='metodo' value='alterar' ng-click="editarParteMaterial()">
                                    <span class='glyphicon glyphicon-edit'></span>
                                </a>
                                <button type='submit' class='btn btn-danger btn-sm'  name='metodo' value='excluir' ng-click="deletar()">
                                    <span class='glyphicon glyphicon-remove-circle' alt="Exluir" ></span>
                                </button>
                            </td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">
                    <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                        <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                    </a>  
                    <button type="submit" class="btn btn-success btn-padrao">
                        <span class="glyphicon glyphicon-ok" ></span> Salvar
                    </button>
                </span>		
            </div>
        </div>
        <div class="row"><div class="col-sm-12"><hr></div></div>		
    </form>
</div>