<div class="container" ng-controller="AcompanhamentoSolicitacaoController" ng-init="init()">
    <div class="row">
        <div class="form-group col-sm-12">
            <legend><span class="glyphicon glyphicon-list-alt"></span> Acompanhamento de Solicitações</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7"> 
            <div class="form-group">
                <h4> Filtro por Campos </h4>
                <hr>
                <table class="table-responsive tabela-filtro">
                    <tr></tr>
                    <tr>
                        <th class="col-md-3"><h5>Data chegada</h5></th>
                        <th class="col-md-3"><h5>Número</h5></th>
                        <th class="col-md-6"><h5>Nome</h5></th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="date" ng-model="buscaDataChegadaIni" ng-change="" placeholder="Início" /></td>
                        <td><input class="form-control" type="number" ng-model="buscaSolicitacao" ng-change=""  placeholder="Solicitacao"/></td>
                        <td><input class="form-control" type="text" ng-model="buscaMaterial" ng-change=""  placeholder="Material" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="date" ng-model="buscaDataChegadaFim" ng-change="" placeholder="Fim" /></td>
                        <td><input class="form-control" type="number" ng-model="buscaOrdem" ng-change=""  placeholder="Ordem"/></td>
                        <td><input class="form-control" type="text" ng-model="buscaResponsavel" ng-change=""  placeholder="Responsável" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><input class="form-control" type="text" ng-model="buscaRevisor" ng-change=""  placeholder="Revisor"/></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-5"> 
            <div class="form-group">
                <h4> Filtro por Status </h4>
                <hr>
                <table class="table table-responsive tabela-filtro">
                    <tr>
                        <td class="col-md-12">
                            <a class="btn-status" href="" ng-click="getPesquisaSolicitacao('AGUARDANDO')" ><img src="./resources/imagens/btn-aguardando.png" alt="botão Aguardando"/><br>aguardando</a> 
                            <a class="btn-status" href="" ng-click="getPesquisaSolicitacao('PRODUCAO')" ><img src="./resources/imagens/btn-producao.png" alt="botão procução"/><br>produção</a>
                            <a class="btn-status" href="" ng-click="getPesquisaSolicitacao('PRODUZIDO')" ><img src="./resources/imagens/btn-produzido.png" alt="botão produzido"/><br>produzido</a>
                            <a class="btn-status" href="" ng-click="getPesquisaSolicitacao('FINALIZADO')" ><img src="./resources/imagens/btn-finalizado.png" alt="botão finalizado"/><br>finalizado</a>
                            <a class="btn-status" href="" ng-click="getPesquisaSolicitacao('CANCELADO')" ><img src="./resources/imagens/btn-cancelado.png" alt="botão cancelado"/><br>cancelado</a>
                            <a class="btn-status" href="" ng-click="getPesquisaSolicitacao()" ><img src="./resources/imagens/btn-todos.png" alt="botão todos"/><br>todos</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-10 col-vlg-7">
            <ul class="cbp_tmtimeline">
                <li ng-repeat="solicitacaoItem in solicitacaoItens">
                    <time class="cbp_tmtime">
                        <span class="date">chegada</span>
                        <span class="time">{{solicitacaoItem.dataChegada | date:'MM-dd-yyyy' }}</span>
                    </time>
                    <a href=""><div class="btn-status-linha cbp_tmicon {{getStatus(solicitacaoItem.status)}} animated bounceIn" ng-click="getsolicitacaoItemStatus(solicitacaoItem.status)" >  <i class="{{getIcone(solicitacaoItem.status)}}"></i> </div></a>
                    <div class="cbp_tmlabel">
                        <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-responsive table-fixed-layout">
                                        <thead>
                                        <th class="col-md-2">Solicitação</th>
                                        <th ng-show="{{solicitacaoItem.ordem}}" class="col-md-2">Ordem</th>
                                        <th class="col-md-5">Material</th>
                                        <th class="col-md-3">Tradução</th>
                                        </thead>
                                        <tbody>
                                        <td>{{solicitacaoItem.id}}</td>
                                        <td ng-show="{{solicitacaoItem.ordem}}" >{{solicitacaoItem.ordem}}</td>
                                        <td>{{solicitacaoItem.livro.nome}}</td>
                                        <td>{{solicitacaoItem.traducaoMaterial}}</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>    
                            <div class="row base-time-line">
                                <div class="col-sm-4">
                                    <h4 class="inline m-b-5"><span class="text-success semi-bold">{{solicitacaoItem.responsavel}}</span> </h4>
                                </div>
                                <div class="col-sm-3">
                                    <div ng-show="{{solicitacaoItem.dataEnvio}}" > <h5 class="inline m-b-5"><span class="text-primary semi-bold">Envio: {{solicitacaoItem.dataEnvio}}</span> </h5> </div>
                                </div>
                                <div class="col-sm-5">
                                    <span class="pull-right">
                                        <button type="submit" class="btn btn-danger btn-small" ng-show="{{solicitacaoItem.status == 'AGUARDANDO' || solicitacaoItem.status =='PRODUCAO' }}"
                                            ng-click="cancelar(solicitacaoItem.id)"><i class="glyphicon glyphicon-remove" ></i> Cancelar 
                                        </button>  
                                        <button type="submit" class="btn btn-success btn-small" ng-show="{{solicitacaoItem.status == 'AGUARDANDO' }}" ng-click="produzir(solicitacaoItem.id)" >
                                            <i class="fa fa-cogs"></i> Produzir
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-small" 
                                            ng-show="{{solicitacaoItem.status == 'PRODUCAO' || solicitacaoItem.status =='PRODUZIDO' || solicitacaoItem.status =='FINALIZADO' }}" 
                                            ng-click="expandir(solicitacaoItem.id)" ><i class="fa fa-arrows-alt" ></i> Expandir
                                        </button>
                                    </span>     
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE -->
</div>

