<div class="container" ng-controller="acompanhamentoSolicitacaoController" ng-init="getTodos()">
    <div class="row">
        <div class="form-group col-sm-12">
            <legend><span class="glyphicon glyphicon-list-alt"></span> Acompanhamento de Solicitações</legend>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-7">    
            <div class="row"> 
                <div class="form-group col-sm-4">
                    <input class="form-control" name="busca" type="text" ng-model="busca" ng-change=""  placeholder="Número da solicitacao"/>
                </div>
                <div class="form-group col-sm-4">
                    <input class="form-control" name="busca" type="text" ng-model="busca" ng-change=""  placeholder="Número da ordem"/>
                </div>
                <div class="form-group col-sm-4">
                    <input class="form-control" name="busca" type="text" ng-model="busca" ng-change="" placeholder="Data de chegada" />
                </div>
            </div>    
            <div class="row">
                <div class="form-group col-sm-5">
                    <input class="form-control" name="busca" type="text" ng-model="busca" ng-change=""  placeholder="Material" />
                </div>
                <div class="form-group col-sm-5">
                    <input class="form-control" name="busca" type="text" ng-model="busca" ng-change=""  placeholder="Nome do revisor"/>
                </div>
                <div class="col-sm-2">
                    <span class="pull-right">
                        <button type='submit' class='btn btn-primary btn-padrao'
                                value='novo' ng-click="busca()">
                            <span class='glyphicon glyphicon-search '></span> Filtrar
                        </button>
                    </span>
                </div>
            </div> <!-- final busca -->
        </div>
        <div class="col-sm-5">
            <div class="titulo-botoes-soliciatacao" >
                <label>Filtrar por Status</label>
                <div>
                    <a class="btn-status" href="" ng-click="getSolicitacaoStatus('aguardando')" ><img src="./resources/imagens/btn-aguardando.png" alt="botão Aguardando"/><br>aguardando</a> 
                </div>
                <div>
                    <a class="btn-status" href="" ng-click="getSolicitacaoStatus('producao')" ><img src="./resources/imagens/btn-producao.png" alt="botão procução"/><br>produção</a>
                </div>
                <div>
                    <a class="btn-status" href="" ng-click="getSolicitacaoStatus('produzido')" ><img src="./resources/imagens/btn-produzido.png" alt="botão produzido"/><br>produzido</a>
                </div>
                <div>
                    <a class="btn-status" href="" ng-click="getSolicitacaoStatus('finalizado')" ><img src="./resources/imagens/btn-finalizado.png" alt="botão finalizado"/><br>finalizado</a>
                </div>
                <div>
                    <a class="btn-status" href="" ng-click="getSolicitacaoStatus('cancelado')" ><img src="./resources/imagens/btn-cancelado.png" alt="botão cancelado"/><br>cancelado</a>
                </div>
                <div>
                    <a class="btn-status" href="" ng-click="getTodos()" ><img src="./resources/imagens/btn-todos.png" alt="botão todos"/><br>todos</a>
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-10 col-vlg-7">
            <ul class="cbp_tmtimeline">
                <li ng-repeat="solicitacao in solicitacoes">
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                        <span class="date">chegada</span>
                        <span class="time">{{solicitacao.dataChegada}}</span>
                    </time>
                    <a href=""><div class="btn-status-linha cbp_tmicon {{getStatus(solicitacao.status)}} animated bounceIn" ng-click="getSolicitacaoStatus(solicitacao.status)" >  <i class="{{getIcone(solicitacao.status)}}"></i> </div></a>
                    <div class="cbp_tmlabel">
                        <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-responsive table-fixed-layout">
                                        <thead>
                                        <th class="col-md-3">Solicitação</th>
                                        <th ng-show="{{solicitacao.ordem}}" class="col-md-3">Ordem</th>
                                        <th class="col-md-3">Material</th>
                                        <th class="col-md-3">Tradução</th>
                                        </thead>
                                        <tbody>
                                        <td>{{solicitacao.id}}</td>
                                        <td ng-show="{{solicitacao.ordem}}" >{{solicitacao.ordem}}</td>
                                        <td>{{solicitacao.material}}</td>
                                        <td>{{solicitacao.traducao}}</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>    
                            <div class="row base-time-line">
                                <div class="col-sm-4">
                                    <h4 class="inline m-b-5"><span class="text-success semi-bold">{{solicitacao.responsavel}}</span> </h4>
                                </div>
                                <div class="col-sm-3">
                                    <div ng-show="{{solicitacao.dataEnvio}}" > <h5 class="inline m-b-5"><span class="text-primary semi-bold">Envio: {{solicitacao.dataEnvio}}</span> </h5> </div>
                                </div>
                                <div class="col-sm-5">
                                    <span class="pull-right">
                                        <button type="submit" class="btn btn-danger btn-small" ng-show="{{solicitacao.status == 'aguardando' || solicitacao.status =='producao' }}"
                                            ng-click="cancelar(solicitacao.id)"><i class="glyphicon glyphicon-remove" ></i> Cancelar 
                                        </button>  
                                        <button type="submit" class="btn btn-success btn-small" ng-show="{{solicitacao.status == 'aguardando' }}" ng-click="produzir(solicitacao.id)" >
                                            <i class="fa fa-cogs"></i> Produzir
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-small" 
                                            ng-show="{{solicitacao.status == 'producao' || solicitacao.status =='produzido' || solicitacao.status =='finalizado' }}" 
                                            ng-click="expandir(solicitacao.id)" ><i class="fa fa-arrows-alt" ></i> Expandir
                                        </button>
                                    </span>     
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE -->
</div>

