<!-- Page Title -->
<div class="page-title" ng-init="ctrl.ativaBotao('eventos')">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-camera page-title-icon"></i>
                <h2>Eventos</h2>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="what-we-do container">
    <div class="portfolio-title">
        <h3>Próximos Eventos</h3>
    </div>
    <div class="container" ng-controller="EventoController" ng-init="getTodos(1)">
    <div class="row">
        <div class="service span3">
            <img src="./resources/externo/assets/img/portfolio/work5.jpg" alt="">
            <h4 ng-repeat="evento in crtl.eventos"> {{crtl.eventos}} </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/detalhes-evento" >Detalhes</a>
            <pagination boundary-links="true" num-pages="eventos.pageCount" total-items="eventos.pageCount*ctrl.eventos.maxRows" items-per-page="eventos.maxRows"
                        ng-model="ctrl.pageNumber" ng-change="ctrl.buscarPagina(ctrl.pageNumber)" class="pagination-sm" max-size="eventos.maxPagesToShow"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </pagination>
        </div>
        <div class="service span3">
            <img src="./resources/externo/assets/img/portfolio/work6.jpg" alt="">
            <h4>Responsive Layout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/detalhes-evento" >Detalhes</a>
        </div>
        <div class="service span3">
           <img src="./resources/externo/assets/img/portfolio/work7.jpg" alt="">
            <h4>Awesome Logos</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/detalhes-evento" >Detalhes</a>
        </div>
        <div class="service span3">
            <img src="./resources/externo/assets/img/portfolio/work8.jpg" alt="">
            <h4>High Res Prints</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/detalhes-evento" >Detalhes</a>
        </div>
        <pagination boundary-links="true" num-pages="eventos.pageCount" total-items="eventos.pageCount*ctrl.eventos.maxRows" items-per-page="eventos.maxRows"
                        ng-model="ctrl.pageNumber" ng-change="ctrl.buscarPagina(ctrl.pageNumber)" class="pagination-sm" max-size="eventos.maxPagesToShow"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </pagination>
    </div>
</div>
</div>

<!-- Services -->
<div class="what-we-do container">
    <div class="portfolio-title">
        <h3>Últimos Eventos</h3>
    </div>
    <div class="row">
        <div class="service span3">
            <img src="./resources/externo/assets/img/portfolio/work1.jpg" alt="">
            <h4>Beautiful Websites</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/evento-realizado" >Detalhes</a>
        </div>
        <div class="service span3">
            <img src="./resources/externo/assets/img/portfolio/work2.jpg" alt="">
            <h4>Responsive Layout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/evento-realizado" >Detalhes</a>
        </div>
        <div class="service span3">
           <img src="./resources/externo/assets/img/portfolio/work3.jpg" alt="">
            <h4>Awesome Logos</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/evento-realizado" >Detalhes</a>
        </div>
        <div class="service span3">
            <img src="./resources/externo/assets/img/portfolio/work4.jpg" alt="">
            <h4>High Res Prints</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="#/evento-realizado" >Detalhes</a>
        </div>
    </div>
</div>