 <!-- Page Title -->
 <div class="page-title" ng-init="carregaEvento();ativaBotao('eventos')">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-camera page-title-icon"></i>
                <h2>Evento Realizado</h2>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-us container">
    <div class="row">
        <div class="span6">
            <div class="titulo-evento">
                <h3>{{evento.titulo}}</h3>
            </div>
            <p>{{evento.descricao}} </p>
            <p>
                <b>Ministrante: </b> {{evento.ministrante}} <br>
                <b>Organização: </b> {{evento.organizacao}} <br>
                <b>Local do evento: </b> {{evento.local}} <br>
                <b>Valor: </b> {{evento.valor === 0 ? 'Entrada Livre' : 'R$ ' + evento.valor}}  
            </p>
            <p>
                <div ng-repeat="periodo in evento.periodos | orderBy:'data'">
                    <div class="col-periodo">
                        <div class="evento-data" >
                            <h2>{{periodo.data | date: 'dd'}}</h2>
                            {{periodo.data | date: 'MMMM-yyyy'}}
                        </div>
                        <div class="span4 evento-desc-periodo">
                            <b> {{periodo.tituloperiodo}} </b><br><br>
                            <b>Horário: </b> {{periodo.inicio}} as {{periodo.fim}}
                        </div>
                    </div> 
                </div>    
            </p>     
        </div>
 
        <div class="span6">
            <div class="contact-form">
                <img ng-src="{{evento.foto}}" ng-model="evento.foto" />
            </div>        
        </div>
    </div>
</div>    