<div class="slider" ng-init="ctrl.getEventos(1);ctrl.ativaBotao('home')">
    <div class="container">
        <div>
            <img src="./resources/externo/assets/img/banner-braille.jpg">
        </div>
    </div>
</div>        

<!-- Services -->
<div class="what-we-do container">
    <div class="portfolio-title">
        <h3>Próximos Eventos</h3>
    </div>
    <div class="row">
       <div class="service span3" ng-repeat="proximoEvento in ctrl.proximosEventos.list" >
            <h4>{{proximoEvento.titulo}}</h4>
            <p>{{proximoEvento.descricao}}</p>
            <p><b>Data:</b> {{proximoEvento.data | date: 'dd-MM-yyyy'}}</p>
            <a href="" ng-click="ctrl.detalhesEvento(proximoEvento.id)" >Detalhes</a>
        </div>       
    </div>
</div>