 <!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-book page-title-icon"></i>
                <h2>Materiais Transcritos pela AMACAP</h2>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-us container">
    <div class="row">
        <div class="span12">
            <h4>Lista de Materiais Transcritos</h4>
            <form method="post" action="">
                <div class="span6">
                    <label for="name" class="nameLabel">Buscar Material Transcrito</label>
                    <input id="name" type="text" name="name" placeholder="Buscar Material Transcrito" data-ng-model="busca" data-ng-change="buscaMateriaisContendoNome()">
                    <span class="pull-right"> 
                        <button class="btn-transcricao" type="submit">Buscar</button>
                    </span>
                </div>   
            </form>
        </div>  
        <div class="span12 lista-transcricao">{{materiaisProduzidos}}
            <ul>
                <li ng-repeat="materialProduzido in ctrl.materiaisProduzidos">
                    <div class="material-transcricao">
                        <h4>{{materialProduzido.nome}}</h4>
                        <p>
                            <b>TRANSCRIÇÃO: </b> {{materialProduzido.transcricao != 'OUTRO' ? materialProduzido.transcricao : materialProduzido.outraTranscricao}} 
                            <b> - AUTOR: </b>{{materialProduzido.autor}}
                            <b> - EDITORA: </b>{{materialProduzido.editora}}
                            <b> - DISCIPLINA: </b>{{materialProduzido.disciplina}}
                            <b> - ANO DE EDIÇÃO: </b>{{materialProduzido.anoEdicao}}</p>
                        <hr>
                    </div>
                </li>  
            </ul>
        </div>
    </div>
</div>