*{
    margin: 0px auto;
    padding: 0px;
    font-family:  arial, verdana, Serif, sans-serif, Georgia, "Times New Roman";
}

body{
    padding-top: 70px;
}

.body-login{
    padding-top: 0px;
}
        
footer {
	height: 50px;
	color: #999;
	text-align: center;
	padding: 15px;
	background: #222;
	position:absolute;
	bottom:0;
	width:100%;
}

.btn-padrao{
    width: 106px;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 0px;
}

input,button,a{
    text-transform: uppercase;
}

.btn-radio-amacapa{ height: 34px; }
.btn-radio-amacapa:checked{ background-color: #3276b1; border-color: #285e8e;}

/* inicio botao de envio de arquivos */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
        background-color: white !important;
        cursor: text !important;
}

.titulo-menu-amacap{ margin: 10px; font-size:24px;}
a.navbar-brand img{ margin-bottom: 10px; }
a.navbar-brand{ padding: 10px }

/* fim botao de envio de arquivos */

.estilo-status{
    font-size: 20px;
    padding: 6px;
    color: #fff;
    text-align: center;
}

#image-amacap{
    text-align: center;
}

#amacap-titulo{
    text-align: center;
    padding: 0px;
    margin: 0px
}

.titulo-01{
    font-size: 150px;
}

.titulo-02{
    font-size: 16px;
}
.amacap-sub-titulo{
    margin-top: 80px;
    text-align: center;
}
.sub-titulo-01{
    font-size: 30px;
}

.sub-titulo-02{
    font-size: 80px;
}

.contador{
    margin-top: 30px;
}

.rodape-tabela{
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 0px;
}

.select2-container {
    vertical-align: middle;
}
.select2-container.input-mini {
    width: 60px;
}
.select2-container.input-small {
    width: 90px;
}
.select2-container.input-medium {
    width: 150px;
}
.select2-container.input-large {
    width: 210px;
}
.select2-container.input-xlarge {
    width: 270px;
}
.select2-container.input-xxlarge {
    width: 530px;
}
.select2-container.input-default {
    width: 100%;
    height: 34px;
}
.select2-container[class*="span"] {
    float: none;
    margin-left: 0;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    height: 34px;
    line-height: 34px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: none;
    background-color: white;
    filter: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container .select2-choice div,
.select2-container.select2-container-disabled .select2-choice div {
    border-left: none;
    background: none;
    filter: none;
}

.control-group.error [class^="select2-choice"] {
    border-color: #b94a48;
}

.select2-container-multi .select2-choices .select2-search-field {
    height: 34px;
    line-height: 34px;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
    border-color: rgba(82, 168, 236, 0.8);
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

[class^="input-"] .select2-container {
    font-size: 14px;
}

.input-prepend [class^="select2-choice"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-append [class^="select2-choice"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-dropdown-open [class^="select2-choice"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[class^="input-"] .select2-offscreen {
    position: absolute;
}

/**
 * This stops the quick flash when a native selectbox is shown and
 * then replaced by a select2 input when javascript kicks in. This can be
 * removed if javascript is not present
 */
select.select2 {
    height: 34px;
    visibility: hidden;
}

.titulo-botoes-soliciatacao{ text-align: center; font-weight: bold;}
