*{
    margin: 0px auto;
    padding: 0px;
    font-family:  arial, verdana, Serif, sans-serif, Georgia, "Times New Roman";
}

body{
    padding-top: 70px;
}

.body-login{
    padding-top: 0px;
}
        
footer {
	height: 50px;
	color: #999;
	text-align: center;
	padding: 15px;
	background: #222;
	position:absolute;
	bottom:0;
	width:100%;
}

.btn-padrao{
    width: 106px;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 0px;
}

input,button,a{
    text-transform: uppercase;
}

.btn-radio-amacapa{ height: 34px; }
.btn-radio-amacapa:checked{ background-color: #3276b1; border-color: #285e8e;}

/* inicio botao de envio de arquivos */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
        background-color: white !important;
        cursor: text !important;
}

.titulo-menu-amacap{ margin: 10px; font-size:24px;}
a.navbar-brand img{ margin-bottom: 10px; }
a.navbar-brand{ padding: 10px }

/* fim botao de envio de arquivos */

.estilo-status{
    font-size: 20px;
    padding: 6px;
    color: #fff;
    text-align: center;
}

#image-amacap{
    text-align: center;
}

#amacap-titulo{
    text-align: center;
    padding: 0px;
    margin: 0px
}

.titulo-01{
    font-size: 150px;
}

.titulo-02{
    font-size: 16px;
}
.amacap-sub-titulo{
    margin-top: 80px;
    text-align: center;
}
.sub-titulo-01{
    font-size: 30px;
}

.sub-titulo-02{
    font-size: 80px;
}

.contador{
    margin-top: 30px;
}

.rodape-tabela{
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 0px;
}