<div class="container" ng-controller="UsuarioController" ng-init="getTodos(1)">
    <div class="row">
        <div class="form-group col-sm-12">
            <legend> <span class="glyphicon glyphicon-list-alt"></span> Usuário</legend>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-5">
            <div class="input-group">
                <span class="input-group-addon"> 
                    <span class="glyphicon glyphicon-search"></span>
                </span> 
                <input class="form-control" name="busca" type="text" ng-model="busca" ng-change="buscaUsuariosContendoNome()"  placeholder="Busca por Nome, Perfil ou Email"/>
            </div>
        </div>
        <div class="form-group col-sm-7">
            <div>
                <span class="pull-right">
                    <button type='submit' class='btn btn-primary btn-padrao'
                        value='novo' ng-click="novo()">
                        <span class='glyphicon glyphicon-plus-sign'></span> Novo
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-striped table-hover">
                    <tr>
                        <th class="col-md-2">Nome</th>
                        <th class="col-md-2">Perfil</th>
                        <th class="col-md-2">Email</th>
                        <th class="col-md-2">Início Vigência</th>
                        <th class="col-md-2">Fim Vigência</th>
                        <th class="col-md-2"><span class="pull-right">Ações</span></th>
                    </tr>
                    <tr ng-repeat="usuario in pagina.list">
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.perfil}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.inicioVigencia| date: 'dd-MM-yyyy'}}</td>
                        <td>{{usuario.fimVigencia| date: 'dd-MM-yyyy'}}</td>
                        <td>
                            <span class="pull-right">
                            <button class='btn btn-warning btn-sm' ng-click="editar(usuario)">
                                    <span class='glyphicon glyphicon-edit'></span>
                            </button>
                            <button class='btn btn-danger btn-sm' ng-click="deletar(usuario)">
                                    <span class='glyphicon glyphicon-remove-circle'></span>
                            </button>
                            </span>    
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <pagination boundary-links="true" num-pages="pagina.pageCount" total-items="pagina.pageCount*pagina.maxRows" items-per-page="pagina.maxRows"
                ng-model="pageNumber" ng-change="getTodos(pageNumber)" class="pagination-sm" max-size="pagina.maxPagesToShow"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    </pagination>
</div>

