<div class="container" ng-controller="CidadeController" ng-init="carregarCidade()" >
    <div class="row">
        <div class="form-group col-sm-12">
            <legend> Cadastro de Cidade </legend>
        </div>
    </div>
    <form method="POST" role="form" name="formCidade"ng-submit="salvar()">							
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group {{formCidade.nome.$invalid ? 'has-error' : 'has-success'}} has-feedback">
                    <label class="control-label"> <strong>Nome * </strong> </label>
                    <input class="form-control" type="text" name="nome" title="Nome da cidade. Campo só deve conter letras" 
                           ng-model="cidade.nome" ng-pattern="/^[A-Za-z\s]{3,40}$/" maxlength="40" required placeholder="Nome da cidade" >
                    <span class="help-block" ng-show="formCidade.nome.$error.pattern">Apenas letras e mínimo de 3.</span>
                    <span class="glyphicon {{formCidade.nome.$invalid  ? 'glyphicon-remove' : 'glyphicon-ok'}} form-control-feedback"></span>                    
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="form-group {{formCidade.uf.$error.required ? 'has-error' : 'has-success'}} has-feedback">
                    <label class="control-label"> <strong>Estado * </strong> </label>
                    <select type="text" ui-select2 name="uf" class="input-default" ng-model="cidade.idUnidadeFederativa" required>
                        <option ng-repeat="uf in unidadesFederativas" value="{{uf.id}}">{{uf.nome}}</option>
                    </select>
                </div>
            </div>
        </div>	
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">
                    <a class="btn btn-primary btn-padrao" ng-click="voltar()" >
                        <i class="glyphicon glyphicon-circle-arrow-left" ></i> Voltar
                    </a>  
                    <button type="submit" class="btn btn-success btn-padrao" ng-disabled="formCidade.$invalid">
                        <span class="glyphicon glyphicon-ok" ></span> Salvar
                    </button>
                </span>		
            </div>
        </div>
        <div class="row"><div class="col-sm-12"><hr></div></div>			
    </form>



</div>
