<!DOCTYPE html>
<html lang="pt" ng-app>
	<head>
		<meta charset="UTF-8">
		<title> Escola de TI - Time 06</title>
		<link href="./Lib/css/submenudropdown.css" rel="stylesheet">
		<link href="./Lib/css/bootstrap.css" rel="stylesheet">
		<link href="./Lib/css/bootstrap-select.css" rel="stylesheet">
		<script src="./Lib/js/jquery.js"></script>
		<script src="./Lib/js/bootstrap.min.js"></script>
		<script src="./Lib/js/bootstrap-select.js"></script>
		<script type="text/javascript" src="./Lib/js/angular.min.js"></script>
		<script src="./Lib/js/funcoes.js"></script>
		<script type="text/javascript" src="./Lib/js/MascaraValidacao.js" ></script>
		<script type="text/javascript" src="./Lib/js/cadastroUsuarioController.js" ></script>				
	</head>
	
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			    	<span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-globe"></span> Escola de TI - Time 06 </a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		   <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			    	<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <b class="caret"></b></a>
			        	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			        		<li class="dropdown-submenu">
	                    		<a tabindex="-1" href="#">Cliente</a>
	                    		<ul class="dropdown-menu">
	                      			<li><a tabindex="-1" href="FormPF.html">Pessoa Física</a></li>
	                      			<li><a href="FormPJ.html">Pessoa Jurídica</a></li>
	                    		</ul>
	             			</li>
		        		<li class="dropdown-submenu">
	                		<a tabindex="-1" href="#">Usuário</a>
	                		<ul class="dropdown-menu">
	                  			<li><a tabindex="-1" href="CadastroUsuario.html">Usuário</a></li>
	                  			<li><a href="CadastroPerfilUsuario.html">Perfil de acesso</a></li>
	                		</ul>
	         			</li>
			          </li>
			        </ul>
			      </li>
			    </ul>
		    	<ul class="nav navbar-nav navbar-right">
		      		<li><a href="#">Sair</a></li>
		   		</ul>
		  	</div><!-- /.navbar-collapse -->
		</nav>
		<div class="container" ng-controller="CadastroUsuarioController" >
			<label> &nbsp; </label>
			<fieldset>
					<div class="row">
						<div class="form-group col-sm-12">
							<legend> 
								<span class="glyphicon glyphicon-user"></span> Cadastro de Usuário 
							</legend>
						</div>
					</div>
					<form action="" method="POST" role="form">		
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Perfil</label>
								<select class="selectpicker show-tick form-control" name="tipoEndereco" ng-model="usuario.perfil" data-live-search="true">
									<option value="vendedor" >Vendedor</option>
									<option value="estagiario" >Estagiario</option>
									<option value="outros" >Outros</option>
								</select>
							</div>
							<div class="form-group col-sm-5 ">
								<label> Nome </label>
								<input class="form-control" name="nome" type="text" ng-model="usuario.nome" placeholder="Nome Completo" />
							</div>
							<div class="form-group col-sm-4">
								<label> E-mail </label>
								<input class="form-control" name="email" type="text" ng-model="usuario.email" placeholder="Email" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-3 ">
								<label>Senha</label>
								<input  class="form-control" name="senha" type="password" placeholder="Senha"/>
							</div>
							<div class="form-group col-sm-3">
								<label>Confirmar senha</label>
								<input  class="form-control" name="senha" type="password" placeholder="Confirmar senha"/>
							</div>
							<div class="form-group col-sm-3">
								<label>Início Vigência</label>
								<input  class="form-control" name="inicioVigencia" type="date" ng-model="usuario.inicioVigencia" />
							</div>
							<div class="form-group col-sm-3">
								<label>Fim Vigência</label>
								<input  class="form-control" name="fimVigencia" type="date" ng-model="usuario.fimVigencia" />
							</div>
						</div>	
						<div class="row ">
							<div class="form-group col-sm-12 ">
								<label> &nbsp; </label>
								<legend>
								 	<span class="glyphicon glyphicon-th-large"></span> Itens Especiais  
								 		<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalItensEspeciais">
											<span class="glyphicon glyphicon-plus" ></span>	
										</button>
								</legend>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12 ">

							</div>		
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
						        <table class="table table-hover table-striped">
									<thead>
									    <tr>          
									    	<th class="col-sm-4 text-center"> Itens Especiais e Vigencias </th> 
									        <th class="col-sm-1"> &nbsp; </th>
									    </tr>
								    </thead>
								    <tbody>
									    <tr ng-repeat="itemEspecial in itensEspeciais">
									    	<td class="text-center"> {{itemEspecial.nomeItemEspecial + " - Ini: " + (itemEspecial.inicioVigencia | date: 'dd-MM-yyyy') + " - Fim: " + (itemEspecial.fimVigencia  | date: 'dd-MM-yyyy')}}</td>
									        <td>
									        	<button type="button" class="btn btn-link btn-xs" title="Editar" ng:click="editarItemEspecial($index)" data-toggle="modal" data-target="#modalItensEspeciais" ><i class="glyphicon glyphicon-pencil"></i> </button>
									        	<button type="button" class="btn btn-link btn-xs" title="Excluir" ng:click="delItemEspecial($index)"><i class="glyphicon glyphicon-trash"></i> </button>
									        </td>
									    </tr>        
								    </tbody>      
								</table>
							</div>	
						</div>
						<div class="row">
							<div class="col-sm-12">
								<span class="pull-right">	
								<a href="#" class="btn btn-danger ">
									<span class="glyphicon glyphicon-remove" ></span> Cancelar 
								</a>
								<button type="submit" class="btn btn-success" ng-click="salvarUsuario()" >
									<span class="glyphicon glyphicon-ok"></span> Salvar </a>	
								</button>
								</span>		
							</div>
						</div>
						<!-- Modal Itens Especiais-->
						<div class="modal fade" id="modalItensEspeciais" tabindex="-1" role="dialog" aria-labelledby="modalItensEspeciaisLabel" aria-hidden="true">
							<div class="modal-dialog">
						    	<div class="modal-content">
								    <div class="modal-header">
								    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h4 class="modal-title" id="modalContatoLabel">Itens Especiais</h4>
								    </div>
								    <div class="modal-body">
										<div class="row ">
											<div class="form-group col-sm-8 col-sm-offset-2">
												<label> Telas </label>
							                    <select id="itensEspeciais" ng-model="itemEspecial.nomeItemEspecial" class="selectpicker show-tick form-control" data-live-search="true">							                        
							                        <option value="listaPF" >Lista PF</option>
							                        <option value="listaPJ" >Lista PJ</option>
							                        <option value="CadastroPF" >Cadastro PF</option>
							                        <option value="CadastroPJ" >Cadastro PJ</option>
							                    </select>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-4 col-sm-offset-2">
												<label>Início Vigência</label>
												<input  class="form-control" name="inicioVigencia" type="date" ng-model="itemEspecial.inicioVigencia" />
											</div>
											<div class="form-group col-sm-4">
												<label>Fim Vigência</label>
												<input  class="form-control" name="fimVigencia" type="date" ng-model="itemEspecial.fimVigencia"/>
											</div>
										</div>
									</div>
								    <div class="modal-footer">
								        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" ></span> Cancelar</button>
								    	<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="salvarItemEspecial()"><span class="glyphicon glyphicon-ok" ></span> Salvar</button>
								    </div>	
						    	</div>
						    </div>
						</div>						
					</form>
			</fieldset>
		</div>
	</body>
</html>