<!DOCTYPE html>
<html lang="pt" ng-app>
	<head>
		<meta charset="UTF-8">
		<title> Escola de TI - Time 06</title>
		<link href="./Lib/css/bootstrap.css" rel="stylesheet">
		<link href="./Lib/css/bootstrap-select.css" rel="stylesheet">
		<script src="./Lib/js/jquery.js"></script>
		<script src="./Lib/js/bootstrap.min.js"></script>
		<script src="./Lib/js/bootstrap-select.js"></script>
		<script type="text/javascript" src="./Lib/js/angular.min.js"></script>
		<script src="./Lib/js/funcoes.js"></script>
		<script type="text/javascript" src="./Lib/js/MascaraValidacao.js" ></script>		
	</head>
	<body  ng-controller="MainController" >
		<nav class="navbar navbar-inverse" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			    	<span class="sr-only">Toggle navigation</span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-globe"></span> Escola de TI - Time 06 </a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		   <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Cliente</a></li>
			        </ul>
			      </li>
			    </ul>
			    <ul class="nav navbar-nav">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Usuario</a></li>
			          <li><a href="#">Perfil de Acesso</a></li>
			        </ul>
			      </li>
			    </ul>
		    	<ul class="nav navbar-nav navbar-right">
		      		<li><a href="#">Sair</a></li>
		   		</ul>
		  	</div><!-- /.navbar-collapse -->
		</nav>
		<div class="container">
			<div class="row">
				<div class="form-group col-sm-8 col-sm-offset-2">
					<ul class="nav nav-tabs">
		  				<li><a href="FormPF.html">Pessoa Física</a></li>
		 				<li class="active"><a href="FormPJ.html">Pessoa Jurídica</a></li>
					</ul>
				</div>
			</div>
			<label> &nbsp; </label>
			<div class="row">
			<div class="form-group col-sm-8 col-sm-offset-2">
				<fieldset>
					<legend> <span class="glyphicon glyphicon-user"></span> Cadastro de Empresa </legend>
				</div>
			</div>	
			<form action="" method="POST" role="form" name="formPJ">						
				<div class="row ">
					<div class="form-group col-sm-6 col-sm-offset-2">
						<label> Razão Social </label>
						<input class="form-control" name="razaoSocial" type="text" placeholder="Razão Social" />
					</div>
					<div class="form-group col-sm-2">
						<label> Data de Criação </label>
						<input class="form-control" name="dataNascimento" type="date"  />
					</div>
				</div>	
				<div class="row ">
					<div class="form-group col-sm-2 col-sm-offset-2">
						<label> CNPJ </label>
						<input class="form-control" name="cnpj" type="text" placeholder="CNPJ" />
					</div>
					<div class="form-group col-sm-3">
						<label> Inscrição Municipal </label>
						<input class="form-control" name="inscricaoEstadual" type="text" placeholder="Inscrição Municipal" />
					</div>
					<div class="form-group col-sm-3">
						<label> Inscrição Estadual </label>
						<input class="form-control" name="dataCriacao" type="text" placeholder="Inscrição Estadual" />
					</div>
				</div>	
				<div class="row">
	  				<div class="form-group col-sm-5 col-sm-offset-2">
	  					<label>Email</label>
	  					<div class="input-group" >
	  						<span class="input-group-addon" >
	  							<span class="glyphicon glyphicon-envelope"></span>
	  						</span>
	  						<input class="form-control" name="email" type="text" placeholder="Endereço de email">
	  					</div>
	  				</div>
	  			</div>
				<label>  &nbsp; </label>
				<div class="row">
					<div class="form-group col-sm-4 col-sm-offset-2">
						<legend>
						 	<span class="glyphicon glyphicon-phone-alt"></span> Contato 
						 		<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalTelefone">
									<span class="glyphicon glyphicon-plus" ></span>	
								</button>
								<label> &nbsp; </label>
						</legend>
					</div>
					<div class="form-group col-sm-4">
						<legend>
						 	<span class="glyphicon glyphicon-home"></span> Endereço 
						 		<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEndereco">
									<span class="glyphicon glyphicon-plus" ></span>	
								</button>
								<label> &nbsp; </label>
						</legend>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-4 col-sm-offset-2">
      			        <table class="table table-hover table-striped">
      						<thead>
      						    <tr>          
      						    	<th class="col-sm-4 text-center"> Telefones </th> 
      						    	<th class="col-sm-1"> &nbsp; </th>
      						    	<th class="col-sm-1"> &nbsp; </th>           
      						    </tr>
      					    </thead>
      					    <tbody>
      						    <tr ng-repeat="pessoa in pessoas">
      						    	<td class="text-center"> {{pessoa.telefone}} </td>
      						        <td><button type="button" class="btn btn-link btn-xs" title="Editar" ng:click="getPessoa($index)"><i class="glyphicon glyphicon-pencil"></i> </button></td>
      						        <td><button type="button" class="btn btn-link btn-xs" title="Excluir" ng:click="delPessoa($index)"><i class="glyphicon glyphicon-trash"></i> </button></td>
      						    </tr>        
      					    </tbody>      
      					</table>
      				</div>

					<div class="form-group col-sm-4">
				        <table class="table table-hover table-striped">
							<thead>
							    <tr>          
							    	<th class="col-sm-4 text-center"> Endereço </th> 
							        <th class="col-sm-1"> &nbsp; </th>
							        <th class="col-sm-1"> &nbsp; </th>         
							    </tr>
						    </thead>
						    <tbody>
							    <tr ng-repeat="pessoa in pessoas">
							    	<td class="text-center"> {{pessoa.tipoEndereco + "  " + pessoa.logradouro + " " + pessoa.numero + " - " + pessoa.cidade + " - " + pessoa.estado}} </td>
							        <td><button type="button" class="btn btn-link btn-xs" title="Editar" ng:click="getPessoa($index)"><i class="glyphicon glyphicon-pencil"></i> </button></td>
							        <td><button type="button" class="btn btn-link btn-xs" title="Excluir" ng:click="delPessoa($index)"><i class="glyphicon glyphicon-trash"></i> </button></td>
							    </tr>        
						    </tbody>      
						</table>
					</div>	
				</div>	


				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<span class="pull-right">	
						<a href="AcaoCliente.html" class="btn btn-danger">
							<span class="glyphicon glyphicon-remove" ></span>Cancelar 
						</a>
						<button type="submit" class="btn btn-success" >
							<span class="glyphicon glyphicon-ok" ></span>Salvar </a>	
						</button>
						</span>		
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2"><hr></div>
				</div>
				<!-- Modal telefone-->
				<div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog" aria-labelledby="modalTelefoneLabel" aria-hidden="true">
					<div class="modal-dialog">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        		<h4 class="modal-title" id="modalTelefoneLabel">Cadastro de telefone</h4>
				      		</div>
				      		<div class="modal-body">
							   	<div class="row">
		      						<div class="form-group col-sm-4 col-sm-offset-1">
			      						<label> Telefone</label>
				      					<div class="input-group">
				      						<span class="input-group-addon">
				      							<span class="glyphicon glyphicon-phone-alt"></span>
				      						</span>
				      						<select class="form-control" name="tipoTelefone">
				      							<option>Celular</option>
				      							<option>Residencial</option>
				      							<option>Comercial</option>		
				      						</select>
				      					</div>
		      						</div>
				      		
				      				<div class="form-group col-sm-5">
				      					<label>Número</label>
				      					<div class="input-group">
				      				  		<input class="form-control" name="tel" type="text" ng-model="pessoa.pessoa.telefone" onKeyPress="MascaraTelefone(formPJ.tel);" maxlength="15"  onBlur="ValidaTelefone(formPJ.tel);"  placeholder="(44) 9999-9999">  
				      					</div>
				      				</div>

		      					</div>
				      	      	<div class="row">
				      	      		<div class="form-group col-sm-4 col-sm-offset-1">
				      	      			<label>Ramal</label>
				      					<div class="input-group">
				      						<input class="form-control" name="numeroTelefone" type="number" ng-model="pessoa.pessoa.telefone" placeholder="N° de ramal">  
				      					</div>
				      				</div>
				      			</div>
				      			<div class="row"><div class="col-sm-12 "> <hr></div></div> <!-- separador -->
						    </div>
					        <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" ></span>Cancelar</button>
						        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span>Salvar</button>
					        </div>
				    	</div>
				    </div>
				</div>	
				<!-- Modal endereço-->
				<div class="modal fade" id="modalEndereco" tabindex="-1" role="dialog" aria-labelledby="modalEnderecoLabel" aria-hidden="true">
					<div class="modal-dialog">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        		<h4 class="modal-title" id="modalEnderecoLabel">Cadastro de Endereço</h4>
				      		</div>
				      		<div class="modal-body">
				        		<legend> <span class="glyphicon glyphicon-home"></span> Endereço </legend>
								<div class="row">
									<div class="form-group col-sm-6">
										<label>Principal</label>
										<div>
											<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary ">
													<input name="principal" value="S" type="radio" /> <label>Sim</label>
												</label>
												<label class="btn btn-primary">
													<input name="principal" value="N" type="radio" />  <label>Não</label>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group col-sm-6">
										<label>Cep</label>
										<input  class="form-control maskCep" name="cep" type="text" ng-model="pessoa.cep" placeholder="99999-999" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-3">
										<label>Tipo</label>
										<select class="form-control" name="tipoEndereco" ng-model="pessoa.tipoEndereco">
											<option>Avenida</option>
											<option>Rua</option>
											<option>Praça</option>
											<option>Estrada</option>
											<option>Alameda</option>
											<option>Ladeira</option>
											<option>Travessa</option>
											<option>Rodovia</option>
											<option>Outros</option>
										</select>
									</div>
									<div class="form-group col-sm-6">
										<label>Logradouro</label>
										<input  class="form-control" name="descEndereco" type="text" ng-model="pessoa.logradouro" placeholder="Logradouro" />
									</div>
									<div class="form-group col-sm-3">
										<label>Número</label>
										<input  class="form-control" name="numero" type="text" ng-model="pessoa.numero" placeholder="N°" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<label>Bairro</label>
										<input  class="form-control" name="complemento" type="text" ng-model="pessoa.bairro" placeholder="Bairro" />
									</div>
									<div class="form-group col-sm-6">
										<label>Complemento</label>
										<input  class="form-control" name="complemento" type="text" ng-model="pessoa.complemento" placeholder="Complemento" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<label>Cidade</label>
										<input  class="form-control" name="cidade" type="text" ng-model="pessoa.cidade" placeholder="Cidade" />
									</div>
									<div class="form-group col-sm-3">
										<label> Estado </label>
					                    <select id="estado" class="selectpicker show-tick form-control" data-live-search="true">
					                        <option selected>Selecione</option>
											<option>Paraná</option>
											<option>São Paulo</option>
											<option>Rio de Janeiro</option>
					                    </select>
									</div>
									<div class="form-group col-sm-3">
										<label> Pais </label>
					                    <select id="pais" class="selectpicker show-tick form-control" data-live-search="true">
					                        <option selected>Selecione</option>
											<option>Brasil</option>
											<option>Argentina</option>
											<option>Paraguai</option>
					                    </select>
									</div>
								</div>
				      		</div>
					        <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" ></span>Cancelar</button>
						        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span>Salvar</button>
					        </div>
				    	</div>
				    </div>
				</div>				
			</form>
			</fieldset>
		</div>
	</body>
</html>
<script type="text/javascript">

    function MainController( $scope )
    {
        $scope.pessoas = [
          {cpf : "111.111.111-11", nome : "Maria",  sobrenome : "da Silva", telefone : "9999-9988", cep : "7777777-000", tipoEndereco : "Rua", logradouro : "Guedner", numero : 1610, bairro : "Jardim Aclimação", cidade : "Maringa", estado : "PR", email : "maria@gmail.com" },
          {cpf : "222.222.222-22", nome : "João",   sobrenome : "de Souza", telefone : "9999-9977", cep : "8888888-000", tipoEndereco : "Rua", logradouro : "Guedner", numero : 1610, bairro : "Jardim Aclimação", cidade : "Maringa", estado : "PR", email : "joao@gmail.com" },
          {cpf : "333.333.333-33", nome : "Carlos", sobrenome : "de Jesus", telefone : "9999-9966", cep : "9999999-000", tipoEndereco : "Av.", logradouro : "Guedner", numero : 1610, bairro : "Jardim Aclimação", cidade : "Maringa", estado : "PR", email : "carlos@gmail.com" }

        ];

        $scope.pessoa = null;

        $scope.getPessoa = function(cpf){
            for(i=0;i<$scope.pessoas.length;i++){
                if(cpf == $scope.pessoas[i].cpf){
                  return $scope.pessoa =  $scope.pessoas[i];
                }
            }
            $scope.pessoa = null;
            return false;
        }

        $scope.getPessoas = function(){
          var array = [];
          for(i=0;i<$scope.pessoas;i++)
            array.push(i);
          return array;
        }

        $scope.addPessoa = function(){
          $scope.pessoas.push($scope.pessoa);
          $scope.pessoa = null;      
        };

        $scope.delPessoa = function(index){
          $scope.pessoas.splice(index,1);
        };       
    }
  
</script>